<!DOCTYPE html>
<html>
<head>
  <meta charset=UTF-8>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pomodoro</title>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/pomodoro.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/circle.css">  
  <link rel="stylesheet" href="/stylesheets/style.css">  
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body>
  <!--Attribution-->
  <div class="attribution">
    <div class="">Designed and built by  <a href="https://www.mikias.net">Mikias Abera</a></div>
    <small>
      Sound by <a href="https://www.freesound.org/people/JustinBW/">JustinBW</a> CC BY 3.0
    </small>
  </div>

  <div class="title">Pomodoro</div>
  <div class="container-fluid">

    <div class="row main-row">
      <div class="col-sm-7 col-md-6">
        <div id="circleProgress" class="c100 big orange" onclick="toggleTimer()">
          <span id="progress">Start</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div> <!-- end .col-sm-7 .col-md-6 -->

      <div class="col-sm-5 col-md-6 controls-col">
        <div class="presets">
          <div class="ps btn btn-default ps1"  onclick="preset(15)">15</div>
          <div class="ps btn btn-default ps2" onclick="preset(20)">20</div>
          <div class="ps btn btn-default ps3" onclick="preset(25)">25</div>
          <div class="ps btn btn-default ps4" onclick="preset(30)">30</div>
          <div class="ps btn btn-default ps5" onclick="preset(35)">35</div>
        </div> <!-- end .presets --> 

        <div class="controls">

          <div id="sessionLength">
            <div class="increment" id="sessionUp"
              onclick="incrementLength('session','up')">+</div>
            <div class="session">
              <div class="session-label">SESSION</div>
              <div id="session">0:00</div>
            </div>
            <div class="increment" id="sessionDown"
              onclick="incrementLength('session','down')"><span class="minus">-</span></div>
          </div> <!-- end #sessionLengh -->

          <div id="breakLength">
            <div class="increment" id="breakUp"
              onclick="incrementLength('break','up')">+</div>
            <div class="break">
              <div class="break-label">BREAK</div>
              <span id="break">0:00</span>
            </div>
            <div class="increment" id="breakDown"
              onclick="incrementLength('break','down')">-</div>
          </div> <!-- end #breakLength -->

        </div> <!-- end .controls -->
      </div> <!-- end .controls-col -->
    </div> <!-- end .main-row -->

    <div class="row quotes">
        <div class="quotation-left">“</div>
        <div class="quotation-right">”</div>
        <div class="quote"></div>
        <div class="author"></div>
    </div>

  </div> <!-- end .container-fluid -->

</body>
</html>